<div id="posts-list">
  <% site.posts.data.forEach(post => { %>
  <div class="post-item">
    <a href="<%= post.path %>" class="a-block">
      <% if (post.title === "") { %>
      <div class="post-item-title">Untitled</div>
      <% } else { %>
      <div class="post-item-title"><%= post.title %></div>
      <% } %>
      <div class="post-item-summary"><%- post.excerpt %></div>
      <div class="post-item-meta"><%= time(post.date, 'yyyy/MM/DD HH:mm:SS') %></div>
    </a>
  </div>
  <% }) %>
</div>