// body variables
$body-color = #fcfcfc

// main div global variables
$main-width = 1200px
$main-margin = 20px auto
$main-color = #ffffff

// header global variables
$header-width = 1000px
$header-height = 30px
$header-padding = 40px 100px
$header-margin = 0 auto
$menu-width = 300px
$menu-li-width = 80px

// footer golbal variables
$footer-padding = 40px 100px

// home page golbal variables
$post-list-padding = 0 100px

