// header style

#header
  display block
  margin: $header-margin
  padding: $header-padding

  &:after 
      display: block
      visibility: hidden
      content: ''
      clear: both

  #menu
    display: flex
    width: $menu-width
    height: $header-height
    line-height: $header-height
    padding: 0
    margin: 0
    justify-content: center
    align-content: center
    list-style: none
    float: right

    li
      color: red
      display: block
      margin: 0 10px
      text-align: center

      a
        display inline-block
        text-decoration: underline
        font-size: 1.2em
        color: black
      