#posts-list
  padding: $post-list-padding
  
  .post-item
    display: block
    box-sizing: border-box
    padding: $post-item-padding
    margin: $post-item-margin
    border-bottom: $post-item-border-bottom

    .a-block
      display: block
      color: black
      text-decoration: none

      .post-item-title
        font-size: $post-item-title-font-size
        width: $post-item-title-width
        overflow: hidden
        white-space: nowrap
        text-overflow: ellipsis
        word-break: break-all

      .post-item-summary
        font-size: $post-item-summary-font-size
        a
          text-decoration: none

      .post-item-meta
        font-size: $post-item-meta-font-size

#post-paginator
  display: block
  padding: 0 20px
  
  &:after 
    display: block
    visibility: hidden
    content: ''
    clear: both

  .page-number
    display: none

  .prev
    float: left

  .next
    float: right 
    